{% extends 'base.html' %}
{% block content %}
<div
  class="bg-image"
  style="
    background-image: url('https://cdn.bfldr.com/SH6M70M3/as/hwxng37pr55mhpjkx2jpmfz/womans_clothing_store_by_Hannah_Morgan.jpg?width=1024&height=683&precrop=5395%2C3599%2Cx2%2Cy0%2Csafe&quality=85&timestamp=1601761374');
  ">
<section class="features-boxed" style="background: rgba(238,244,247,0);">
            <div class="container">
                <div class="intro">
                    <div class="center"></div>
                    <h2 class="text-center" style="color: var(--white);font-size: 64;">Find the Perfect Local Products</h2>
                </div>
                <div class="center"></div>
                <div class="row justify-content-center features">
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fa fa-map-marker icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Local Products</h3>
                            <p class="description" style="color:#490b3d">Get a list of products based on your address, allowing you to be sure that they are from your community!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fa fa-clock-o icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Always available</h3>
                            <p class="description" style="color:#490b3d">Search for the products online, anytime for free and order from the shops online, over the phone, curbside or in-store!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fa fa-list-alt icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Open Catalogue</h3>
                            <p class="description" style="color:#490b3d">Our catalogue can always be updated and is curated by volunteers to ensure that all the products are in fact truly local!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fa fa-leaf icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Independent Stores</h3>
                            <p class="description" style="color:#490b3d">We don't allow products from franchises nor subsidiaries to appear in the catalogue, all the listed products are local and made independantly!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fas fa-child icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Community Focused</h3>
                            <p class="description" style="color:#490b3d">We prioritise showcasing family or community owned products and services in our catalogue, and ensure this through our curation process!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box"><i class="fab fa-canadian-maple-leaf icon" style="color:#f1b814"></i>
                            <h3 class="name" style="color:#490b3d">Canadian Focused</h3>
                            <p class="description" style="color:#490b3d">If we don't have products from your community listed you can be certain that all of our products listed in the catalogue are Canadian made or owned!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div class="center"></div>
</div><div class="center"></div>
<div></div>
{% endblock %}
