{% extends 'base.html' %}

{% block content %}
        <section>
            <div class="container"><div class="cart-heading" style="text-align: center; font-size: 28px; color:#490b3d">Cart</div>
            <div class="center"></div>
                <div>
                    <div class="brand-card"><div class="card-space"></div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div class="col">
                                        <div class="cart-items">
                                            <div class="row">
                                                <div class="col"><img src="assets/img/superstar.jpg" width="150" height="150"></div>
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="color: rgb(73,11,61);">Adidas Superstar Shoes</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="price" style="color:#490b3d">
                                                            <small>$64.99</small>
                                                        </div>
                                                        <select class="select-quantity">
                                                            <optgroup label="Quantity:">
                                                                <option value="12" selected>1</option>
                                                                <option value="13">2</option>
                                                                <option value="14">3</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><img src="assets/img/adidasoriginals.jpg" width="150" height="150"></div>
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="color: rgb(73,11,61);">Adidas Originals</p>
                                                    </div>
                                                    <div class="row"><div class="price" style="color:#490b3d">
                                                        <small>$64.99</small>
                                                    </div>
                                                    <select class="select-quantity">
                                                        <optgroup label="Quantity:">
                                                            <option value="12" selected>1</option>
                                                            <option value="13">2</option>
                                                            <option value="14">3</option>
                                                        </optgroup>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"><p class="brand-name" style="text-align:center; font-size:23px;color:#490b3d;">Adidas</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="brand-name" style="text-align:center; font-size:16px;color:#490b3d;">1 km</p>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="center"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="center"></div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="center"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="brand-name" style="text-align:center; font-size:20px; text-align:right;color:#490b3d;">Total: $129.98</p>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <div class="purchase" style="text-align:center;">
                                                <button class="btn btn-primary" type="button" style="background-color:#bd1e51;">Purchase</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-space">

                            </div>
                        </div>
                    </div>
                    <div class="center"></div>
                    <!-- <div class="brand-card"><div class="card-space"></div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <div class="col">
                                        <div class="cart-items">
                                            <div class="row">
                                                <div class="col"><img src="assets/img/superstar.jpg" width="150" height="150"></div>
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="color: rgb(73,11,61);">Adidas Superstar Shoes</p>
                                                    </div>
                                                    <div class="row"><div class="price" style="color:#490b3d">
<small>$64.99</small>
</div><select class="select-quantity">
    <optgroup label="Quantity:">
        <option value="12" selected>1</option>
        <option value="13">2</option>
        <option value="14">3</option>
    </optgroup>
</select></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><img src="assets/img/adidasoriginals.jpg" width="150" height="150"></div>
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="color: rgb(73,11,61);">Adidas Originals</p>
                                                    </div>
                                                    <div class="row"><div class="price" style="color:#490b3d">
<small>$64.99</small>
</div><select class="select-quantity">
    <optgroup label="Quantity:">
        <option value="12" selected>1</option>
        <option value="13">2</option>
        <option value="14">3</option>
    </optgroup>
</select></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"><p class="brand-name" style="text-align:center; font-size:23px;color:#490b3d;">Adidas</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><p class="brand-name" style="text-align:center; font-size:16px;color:#490b3d;">1 km</p></div><div class="row"><div class="row">
    <div class="center"></div>
</div></div>
                                </div><div class="row">
    <div class="center"></div>
</div><div class="row"><div class="row">
    <div class="center"></div>
</div></div>
                                <div class="row"><div class="col"><p class="brand-name" style="text-align:center; font-size:20px; text-align:right; color:#490b3d">Total: $129.98</p></div><div class="col"><div>
  <div class="purchase" style="text-align:center;">
    <button class="btn btn-primary" type="button" style="background-color:#bd1e51;">Purchase</button>
  </div>
</div></div></div>
                            </div>
                        </div>
                        <div class="row"><div class="card-space"></div></div>
                    </div>
                </div>
            </div>
        </section> -->
{% endblock %}