{% extends 'base.html' %}

{% block content %}
<section class="newsletter-subscribe" style="background: #ffffff;">
	<div class="container">
		<div class="intro">
			<h2 class="text-center" style="color: #490b3d;">Shop Local</h2>
			<p class="text-center" style="color: rgb(73,11,61);">Enter your postal code to get started!
				<br>
			</p>
		</div>
		<form class="form-inline" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="postal" placeholder="H3H1L2" />
				<input type="text" class="form-control" name="search" placeholder="Find me..." />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="button" style="background: #bd1e51;">search</button>
			</div>
		</form>
	</div>
	<div class="container">
		<div class="center"> </div>
	</div>
	<div id="target">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-4"><img src="assets/img/superstar.jpg" width="100" height="100"></div>
					<div class="col-md-4">
						<a href="#"> <strong style="color: rgb(73,11,61);">Adidas Superstar Shoes</strong> </a>
						<a href="#">
							<p style="color: rgb(125, 130, 133);">Adidas</p>
						</a>
					</div>
					<div class="col-md-4">
						<div class="price-column"><strong style="color: rgb(73,11,61);">$64.99</strong> </div>
						<div class="distance-column">
							<p class="distance">1 km</p>
						</div>
						<div class="aligned">
							<button class="btn btn-primary" type="button" style="background: #bd1e51; border: 2px solid #f44336;">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
			<hr class="dashed" /> </div>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-4"><img src="assets/img/saucony.jpg" width="100" height="100"></div>
					<div class="col-md-4">
						<a href="#"> <strong style="color: rgb(73,11,61);">Saucony Running Shoes</strong> </a>
						<a href="#">
							<p style="color: rgb(125, 130, 133);">Saucony</p>
						</a>
					</div>
					<div class="col-md-4">
						<div class="price-column"><strong style="color: rgb(73,11,61);">$64.99</strong> </div>
						<div class="distance-column">
							<p class="distance">1 km</p>
						</div>
						<div>
							<div class="aligned">
								<button class="btn btn-primary" type="button" style="background: #bd1e51;">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="dashed" /> </div>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-4"><img src="assets/img/woolrunners.jpeg" width="100" height="100"></div>
					<div class="col-md-4">
						<a href="#"> <strong style="color: rgb(73,11,61);">Men&#39;s Wool Runners</strong> </a>
						<a href="#">
							<p style="color: rgb(125, 130, 133);">Nike</p>
						</a>
					</div>
					<div class="col-md-4">
						<div class="price-column"><strong style="color: rgb(73,11,61);">$64.99</strong> </div>
						<div class="distance-column">
							<p class="distance">1 km</p>
						</div>
						<div>
							<div class="aligned">
								<button class="btn btn-primary" type="button" style="background: #bd1e51;">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="dashed" /> </div>
            <!--Really Quick Test-->
        <script>
            var node = createShopNode("assets/img/woolrunners.jpeg", "Shoes", "The Place", "15.00", "27");
            var target = document.getElementById("target");
            target.appendNode(node);
        </script>
        <!--Really Quick Test ENDS-->
	</div>
</section>
{% endblock %} 