{% extends 'base.html' %}

{% block content %}
<section class="newsletter-subscribe" style="background: #ffffff;">
	<div class="container">
		<div class="intro">
			<h2 class="text-center" style="color: #490b3d;">Shop Local</h2>
			<p class="text-center" style="color: rgb(73,11,61);">Enter your postal code to get started!
				<br>
			</p>
		</div>
		<form class="form-inline" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" class="form-control" name="postal" placeholder="H3H1L2" />
				<input type="text" class="form-control" name="search" placeholder="Item name (e.g shoes)" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" style="background: #bd1e51;">search</button>
			</div>
		</form>
	</div>
	<div class="container">
		<div class="center"> </div>
	</div>
	<div id="target">
		{% for message in messages %}
			{% if message.tags == 'error' %}
				<div class="alert alert-danger">{{ message }}</div>
			{% else %}
				<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endif %}
		{% endfor %}
    	{% if products %}
			{% for product in products %}
			<div>
				<div class="container">
					<div class="row">
						<div class="col-md-4"><img src="{{ product.img }}" width="100" height="100"></div>
						<div class="col-md-4">
							<a href="{{product.p_link}}"> <strong style="color: rgb(73,11,61);">{{ product.p_name }}</strong> </a>
							<a href="{{product.s_FK.s_link}}">
								<p style="color: rgb(125, 130, 133);">{{ product.s_FK.s_name }}</p>
							</a>
						</div>
						<div class="col-md-4">
							<div class="price-column"><strong style="color: rgb(73,11,61);">${{ product.price }}</strong> </div>
							<div class="distance-column">
								<p class="distance">{{ product.s_FK.distance }}</p>
							</div>
							<div class="aligned">
								<button class="btn btn-primary" onclick="addToCart({{message.code}});" type="button" style="background: #bd1e51; border: 2px solid #f44336;">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<hr class="dashed" /> </div>
			{% endfor %}
		{%endif%}
		
		
	</div>
</section>
{% endblock %} 