<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pro-Local</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="index.html">Pro-Local</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="stores.html">Stores</a></li>
                    <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="cart.html">Cart&nbsp;</a>
            </div>
        </div>
    </nav>
    <section class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Stores&nbsp;</h2>
                <p class="text-center">All listed stores are Canadian owned and operated. The catalogue is expanding feel free to add to our collection of stores listed here!</p><a class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#modal-add-shop-info">List My Business!</a>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-add-shop-info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Want to include your business?</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Including your business is very easy so long as you can answer yes to the following important questions:</p>
                    <ul>
                        <li>The business is independently owned, not a franchise nor subsidiary of a larger company</li>
                        <li>The business operates in a local community in Canada and/or is owned entirely by a Canadian citizens, permanent residents or those looking to become citizens or permanent residents.&nbsp;</li>
                        <li>The business operates in a lawful manor, including respecting Federal, Provincial and Municipal COVID-19 Measures.</li>
                        <li>The business does not engage in illegal, exploitative or otherwise unethical behaviour locally or internationally.</li>
                    </ul>
                    <p>Should you awnser yes to these questions then follow the blue link below and create an "Issue" on the GitHub page for the project listing the name and/or website of the buisness.&nbsp;</p>
                    <p>Our team of volunteers will review your business and add your products along with some information regarding your business as soon as possible.&nbsp;</p>
                    <p>Alternatively, you can contact one of our team members at <span style="text-decoration: line-through;">matthew.giancola42@gmail.com</span> and we will can start this process for you!&nbsp;</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><a class="btn btn-primary" role="button" href="https://github.com/Emperor42/SOEN357Project/issues">Make Request</a></div>
            </div>
        </div>
    </div>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                    <p class="text-muted small mb-4 mb-lg-0">© SOEN 357 Team 2021. All Rights Reserved.&nbsp;</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-canadian-maple-leaf fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="far fa-heart fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-canadian-maple-leaf fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>